* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* Grid Container */
.container {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 250px 1fr 50px;
    gap: 10px;
}

/* Header Section */
header {
    grid-column: span 12;
    grid-row: span 1;
    background: #63B3ED;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
}

header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

header h1 {
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Main Section */
main {
    grid-column: 2 / span 8;
    grid-row: span 1;
    padding: 0 36px;
    margin-bottom: 40px;
}

article {
    padding-bottom: 40px;
}

hr {
    margin: 24px 0;
}

article h2 {
    font-size: 32px;
    color: #48BB78;
    margin-bottom: 4px;
}

article h4 {
    color: #718096;
    margin-bottom: 12px;
}

article img {
    float: right;
}

/* article + article img {
    float: left;
    margin-right: 10px;
} */

/* Aside Section */
aside {
    grid-column: span 2;
    margin-left: 18px;
    font-size: 18px;
    color: #2D3748;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

aside .about {
    background: #E2E8F0;
    color: #000000;
    padding: 16px;
    margin-bottom: 24px;
}

.social h3, .archive h3 {
    color: #48BB78;
    margin: 20px 0 24px 0;
}

.social ul, .archive ul {
    list-style: none;
    color: #4299E1;
}

/* Footer Section */
footer {
    grid-column: span 12;
    grid-row: span 1;
    background: #2C5282;
    color: #FFFFFF;
    padding-left: 200px;
    display: flex;
    align-items: center;
}


/* Media Queries */